body, .page-template-page-ppc {
	color:#000;
	margin:0 !important;
	padding:0 !important; 
}

.pccMainwrapper hr {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    border: 0 !important;
    border-top: 1px solid #eee !important;	
}

.container.pccMainWrapper h1 {
	margin-bottom:0px !important;	
}
.container.pccMainWrapper h1:after {
	background:none;	
}
.container.pccMainWrapper h2 {
	margin-bottom:25px!important;
}
.container.pccMainWrapper h3 {
	margin-bottom:15px!important;
	font-size:25px;
}
.container.pccMainWrapper{
	padding-top:100px;	
}
.container:before,
.container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
.container:before,
.container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}

.alignLeft {
	float:left;
	padding:10px 10px 10px 0px;
	clear:both;
}

.alignRight {
	float:right;
	padding:10px 0px 10px 10px;
	clear:both;
}

.alignCenter {
	display:block;
	margin-left:auto;
	margin-right:auto;
	clear:both;
}

.alignnone {
	clear:both;
	display:block;	
}

.navWrapper {
	padding-top:20px;
	padding-bottom:10px;	
}

/* HEADER STYLES  */

.mdTopContact {
	float:right;
	text-align: right;
}
.mdTopContact a {
	width:100%;
	display:block;
}
.phoneMd {
	font-size: 17px;
	font-weight: 800;	
}

.btncntnav:hover {
 text-decoration: none !important;	
	
}
.header_logo {
	float:left;
}
.header_logo  img {
	max-width:100%;
	height:auto;	
}
a:link {
	text-decoration: none;	
}

.footerBar {
	margin-top:25px;
	padding:20px;
}
/*** END OF HEADER STYLES ***/
/*** HEADER MEDIA QUERIES ***/

@media (max-width: 1022px) { 
	.navbar-fixed-top, .navbar-inverse {
	    margin:0;
	    background-color: transparent;
	    border-color:none;
	}  
		.container.pccMainWrapper{
		padding-top:100px!important;	
	}

}
@media (max-width: 768px) {
	.mdTopContact {
		width:auto;
	    max-width: 250px;
	    padding-right:10px;
	    text-align: center;
	}
	.mdTopContact a {
		width:50px;
		float:right;  
	}
	.phoneBtns {
		text-align: right;
	}
	.mdTopContact i {
		line-height: 25px;
		font-size:30px;
	}  
	.container.pccMainWrapper{
		padding-top:100px!important;	
	}
}
	
	
@media (max-width: 640px) {
	.phoneBtns {
		text-align: right;
	}  
	.mdTopContact i {
		font-size:25px;	
	 }
	
	.mdTopContact a {
		width:50px; 
	} 	
	.container.pccMainWrapper{
		padding-top:100px!important;	
	}	
}

@media (max-width: 450px) {
	.mdTopContact {
		padding: 5px 3px 0 0 !important;
	}
	.mdTopContact i {
		font-size:20px;	
	 }
	
	.mdTopContact a {
		width:48px; 
		font-size:13px;
	}	
	
	.ppc-TopAddress {
		width:50px !important;
	}
	.ppc-xs-size {
		padding-left:0!important;
		padding-right:10px!important;
	}

}

@media (max-width: 378px) {
	.mdTopContact a {
		width:38px;
		text-align: center;
	}
	
	ppc_col_before, ppc_col_after {
		padding:0px !important;
	}
		
    body ,.page-template-page-ppc  {
		font-size:15px !important;
	}
}
/*** END HEADER MEDIA QUERIES ***/
/*** PPC BODY ***/

.pccMainWrapper .wpcf7 {
	padding:15px 20px 10px 20px !important;
	margin-bottom: 15px;
	font-size:14px !important;
}


.pccMainWrapper .wpcf7 input {
	width:100% !important;	
	padding:10px!important;
	border:none!important;
	border-radius: 4px!important;
}

.pccMainWrapper .wpcf7-form {
	padding: 0 !important;
    margin: 0 !important;
}


.pccMainWrapper .wpcf7 input[type=checkbox] {
	width:20px!important;
	padding:10px!important;
	border:none!important;
	border-radius: 4px!important;
}

 .wpcf7 .ppc-innerTerms {
	overflow: scroll!important;
	height:150px!important;
	padding:5px 10px 10px 5px!important;
	margin-bottom:5px !important;
}

.pccMainWrapper .wpcf7 textarea {
	width:100%!important;	
	padding:10px!important;
	resize: none!important;
	border:none!important;
	border-radius: 4px!important;
	height:150px !important;
}

.pccMainWrapper .wpcf7 p {
    margin: 0 0 10px !important;
}



.wpcf7 div.sbcontactcont {
	margin-bottom:15px !important;
}


.ppc_col_before, .ppc_col_after {
	margin-bottom:15px;	
}

.ppc_col_before img, .ppc_col_after img {
	width:100%;
	height:auto;
}
.ppc_col_before {
	padding-right:2px ;	
}
.ppc_col_after  {
	padding-left:2px ;
}

.ppc-btn {
	padding-left:35px !important;
	padding-right:35px !important;
	padding-top: 10px !important;
	padding-bottom:10px !important;	
}

.ppc-btn:disabled {
	color:#bbb !important;	
}

.ppc_hr {
	 margin-top:40px !important;	
}
/*** END OF PPC BODY ***/
/*** PPC BODY MEDIA QUERIES ***/

/*** END PPC BODYMEDIA QUERIES ***/
#ppcSidebar [class*="col-lg-"] , 
#ppcSidebar [class*="col-md-"], 
#ppcSidebar [class*="col-sm-"],
#ppcSidebar [class*="col-xs-"] {
	width: 100% !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.videoWrapper {
	position: relative;
	padding-bottom: 51.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.mainpostcont img {
	width:100%;
	height: auto;
}