// test loading google fonts from the site rather than making an external request
/* hind-regular - latin */
@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/hind-v8-latin/hind-v8-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Hind Regular'), local('Hind-Regular'),
       url('../fonts/hind-v8-latin/hind-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/hind-v8-latin/hind-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/hind-v8-latin/hind-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/hind-v8-latin/hind-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/hind-v8-latin/hind-v8-latin-regular.svg#Hind') format('svg'); /* Legacy iOS */
}
/* hind-500 - latin */
@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/hind-v8-latin/hind-v8-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Hind Medium'), local('Hind-Medium'),
       url('../fonts/hind-v8-latin/hind-v8-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/hind-v8-latin/hind-v8-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/hind-v8-latin/hind-v8-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/hind-v8-latin/hind-v8-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/hind-v8-latin/hind-v8-latin-500.svg#Hind') format('svg'); /* Legacy iOS */
}
/* hind-600 - latin */
@font-face {
  font-family: 'Hind';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/hind-v8-latin/hind-v8-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Hind SemiBold'), local('Hind-SemiBold'),
       url('../fonts/hind-v8-latin/hind-v8-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/hind-v8-latin/hind-v8-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/hind-v8-latin/hind-v8-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/hind-v8-latin/hind-v8-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/hind-v8-latin/hind-v8-latin-600.svg#Hind') format('svg'); /* Legacy iOS */
}

/* average-regular - latin */
@font-face {
  font-family: 'Average';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/average-v6-latin/average-v6-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Average Regular'), local('Average-Regular'),
       url('../fonts/average-v6-latin/average-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/average-v6-latin/average-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/average-v6-latin/average-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/average-v6-latin/average-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/average-v6-latin/average-v6-latin-regular.svg#Average') format('svg'); /* Legacy iOS */
}

