/************************************************
	
Stylesheet: Global Stylesheet

*************************************************/


/*********************
BREAKPOINT GUIDE
*********************/
// @include breakpoint(small) { } // 0px - 419px	
// @include breakpoint(smedium) { } //	420px - 639px 
// @include breakpoint(medium) { } // 640px - 768px	
// @include breakpoint(xmedium) { } // 769px - 1024px	
// @include breakpoint(large) { }	// 1025px - 1199px
// @include breakpoint(xlarge) { }	// 1200px - 1439px
// @include breakpoint(xxlarge) { } // 1440px - beyond	

body {overflow-x: hidden;}

.off-canvas-content.is-opened {
 	-webkit-filter: blur(5px);
 	filter: blur(5px); 	
}

body.noScroll {
	overflow: hidden !important;
	position: fixed !important;
}

/*********************
TOOLS
*********************/

.ie-only { 
	display: none;
	text-align: center;
	position: fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index: 9999;
	background-color:white;
	.ie-only-content {
		position: absolute;
		top:0;
		bottom:0;
		left:0;
		right:0;
		margin:auto;
		width: 500px;
		height:50px;
	}
}

.nopad, .noPad {
	padding:0 !important;
	padding-left:0 !important;
	padding-right:0 !important;
	padding-top:0 !important;
	padding-bottom:0 !important;
}

.valign-middle {
    display: table;
}

.valign-middle .columns {
    display: table-cell;
    vertical-align: middle;
}

.valign-middle .columns,
.valign-middle [class*="column"] + [class*="column"]:last-child {
    float: none;
}

.clear-left {
	clear:left !important;
}

.clear-right {
	clear:right !important;
}

.clear-both {
	clear:both !important;
}

.fullwidth {
	width:100%;
}

.stars { 
	@include breakpoint(small){ margin-bottom:5px; } 
	@include breakpoint(medium){ margin-bottom:10px; } 
	i { color: #ffba00; font-size:30px;  margin:0 2.5px;} 
}

// default
.socialLinks li.social-items svg {
	width:30px;
}


/*********************
POSTS & CONTENT STYLES
*********************/

.banner-parallax {
	position: relative;
	z-index: -1;
	background-size: cover;
	background-position: center center;
}

.parallax-fixed {
	position: fixed !important;
    top: 0;
    z-index: -1;
    bottom: 0;
    left: 0;
    right: 0;
}

:focus {
outline: 0;
}
.page-title {	
	// Remove Foundation vcard styling from author page titles
	.vcard {
		border: 0px;
		padding: 0px;
	}
}

// Post meta  
.byline {
	color: #999;
	time {}
}

// Page Header 
.header.header {
	background-color: $topbar-parent-background;
}

// Page content
hr {
	@include breakpoint(large){
		margin-top: 3.5rem;
		margin-bottom: 3.5rem;
	}
}
#content {
	background-color:white;
	min-height:1000px;
	.inner-content {
		padding-top: 2rem;
		padding-bottom: 3rem;
	}
}

q {
  quotes: "“" "”" "‘" "’";
  padding-bottom: .8rem;
  display: block;
}
q:before {
    content: open-quote;
}
q:after {
    content: close-quote;
}

blockquote {
    font-family: $header-font-family;
    p {
	    line-height: normal;
	    color: $secondary-color;
		font-size: rem-calc(26px);
	}    
    position: relative;
    margin: 3rem 0.5em 3.5rem;
    padding: 0.5em 5em;
    text-align: center;
    border: 0 none transparent;
}

blockquote:before {
    font-family: 'Alegreya';
    position: absolute;
    font-size: 12rem;
    line-height: .68;
    top: 0;
    left: 0;
    content: "\201C";
    color: $light-gray; 
}
blockquote:after {
    font-family: 'Alegreya';
    position: absolute;
   /* display: block; don't use this, it raised the quote too high from the bottom - defeated line-height? */
    float:right;
    font-size:12rem;
    line-height: 1;
    right:0;
    bottom:-0.33em;
    content: "\201D";
    color: $light-gray; 
}
blockquote footer {
    padding: .5rem 0 0 0;
    cite {
	    font-family: $body-font-family;
	    font-style: normal;
	    text-transform: uppercase;
		text-align: center;
		font-size: rem-calc(20px);
	}
}
blockquote cite:before {
    content: " ";
    display: none;
}

.accordion-title {
	padding-left: rem-calc(27px) !important;
	font-weight: 600;	
	font-size: rem-calc(20px);
	border:none;
	margin-bottom:0;
	&:hover,
	&:visited,
	&:link {
		background-color: transparent;
	}
}
.accordion-title:before {
	left:0;
	top: 20px;
	right:auto;
	content:'+';
	color:$primary-color;

	//margin-top: -.65rem;
	margin-top: 0;
	font-weight: bold;
	font-size: 20px;
}
.is-active>.accordion-title:before {
	content:'–';
}
.accordion-content {
	border:none;
	padding: 0 rem-calc(27px);
	p { margin:0 !important; }
}
:last-child:not(.is-active)>.accordion-title,
:last-child>.accordion-content:last-child {
	border:none;
}	
// Entry content  
.entry-content {
	 line-height: 1.7;
	img {
		max-width: 100%;
		height: auto;
	}

	.alignleft, img.alignleft { 
		margin-right: 1.5em;
		margin-bottom: 1rem; 
		display: inline; 
		float: left; 
	}
	.alignright, img.alignright { 
		margin-left: 1.5em; 
		margin-bottom: 1rem;
		display: inline; 
		float: right; 
	}
	
	@include breakpoint(smedium down) {
		img.alignright, img.alignleft {
			width:100%;
			float:none;
			margin-left:0;
			margin-right:0;
		}
	}
	.aligncenter, img.aligncenter { 
		margin-right: auto; 
		margin-left: auto; 
		margin-bottom: 1rem;
		display: block; 
		clear: both; 
	}
	.alignnone, img.alignnone { 
		width: 100%;
		height: auto;
		margin-bottom: 1rem; 
	}		
	video, object {
		max-width: 100%;
		height: auto;
		}

	pre {
		background: #eee;
		border: 1px solid #cecece;
		padding: 10px;
		}
	p, p.small {
	  
	    margin-top: 0;
	    margin-bottom: 1.5rem;
		@include breakpoint(xmedium){
			margin-bottom: 30px;	
		}
	}
	a {
		font-weight: 600;
	}

} 

.wp-caption {
	max-width: 100%;
	background: #eee;
	padding: 5px;
	@include breakpoint(xmedium down) {
		width:100% !important;
	}
	// Images inside wp-caption  
	img {
		max-width: 100%;
		margin-bottom: 0;
		width: 100%;
	}

	p.wp-caption-text {
		font-size: 0.85em;
		margin: 4px 0 7px;
		text-align: center;
	}
} 

// Add Foundation styling to password protect button
.post-password-form input[type="submit"] {
	@include button;
}


/*********************
LINK STYLES
*********************/
a, a:visited {
	@include transition(color .35s ease-in-out);
	// Mobile tap color
	&:link {
		//Highlight links on iOS, Similar to :hover for mobile devices.
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

a.secondary {
	color:$secondary-color;
	&:hover {
		color:$secondary-color-hover;
	}
}

a{
	color:$primary-color;
	&:hover {
		color:$primary-color-hover;
	}
}

/*********************
BUTTONS
*********************/

a.button,
[type=button],
[type=submit] {  }

.button.hollow { box-shadow: none; }

.button.primary, .button { 
	&:active, &:focus { color:$white; background-color: $primary-color; }
		color:$white;
		background-color:$primary-color;
	&:hover {
		color:$white;
		background-color:$primary-color-hover !important;
	}
}

.button.secondary {
	color:$white ; background-color: $secondary-color;
	&:active, &:visited, &:focus { color:$white ; background-color: $secondary-color !important; }
	&:hover {
		color:$white;
		background-color:$secondary-color-hover !important;
	}	
}

.button.hollow {
	box-shadow: none;
	border-width:2px !important;
	background-color:transparent; 
}

.button.hollow.primary {	
	&:active, &:visited, &:focus { border-color:$primary-color; color:$primary-color;}
	&:hover { border-color:$primary-color; background-color:$primary-color;
	color:white;  }
}

.button.hollow.secondary {	; 
	&:active, &:visited, &:focus { border-color:$secondary-color; color:$secondary-color; background-color:transparent;  }
	&:hover {  border-color:$secondary-color; background-color:$secondary-color;
	color:white; }
}

.button.hollow.white {	
	 border-color:$white; color:$white;
	&:active, &:visited, &:focus { border-color:$white; color:$white; background-color:transparent;  }
	&:hover {  border-color:$white;
	color:$white; background-color:rgba(255,255,255,0.4); }
}

/*********************
H1, H2, H3, H4, H5 P STYLES
*********************/
 h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	
	// Removing text decoration from all headline links
	a {
		text-decoration: none;
	}
}

h1, .h1 { }

h2, .h2 { }

h3, .h3 { }

h4, .h4 { }

h5, .h5 { }

.home {
	
	h2, .h2 { }
	
	h3, .h3 { }
	
	h4, .h4 { }
	
	h5, .h5 { }	
}

/*********************
IMAGE GALLERY STYLES
*********************/
.gallery {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-right: -15px;
	margin-left: -15px; 
}
.gallery::before, .gallery::after {
	content: ' ';
	display: table; 
}
.gallery::after {
	clear: both; 
}
.gallery.gallery-columns-1 > dl {
	@include grid-column;
}
.gallery.gallery-columns-2 > dl {
	@include grid-column(1 of 2);
}
.gallery.gallery-columns-3 > dl {
	@include grid-column(1 of 3);
}
.gallery.gallery-columns-4 > dl {
	@include grid-column(1 of 4);
}
.gallery.gallery-columns-5 > dl {
	@include grid-column(1 of 5);
}
.gallery.gallery-columns-6 > dl {
	@include grid-column(1 of 6);
}
.gallery.gallery-columns-7 > dl {
	@include grid-column(1 of 7);
}
.gallery.gallery-columns-8 > dl {
	@include grid-column(1 of 8);
}
.gallery dl {
	width: 100%;
	float: left;
	padding-left: 0.9375rem;
	padding-right: 0.9375rem; 
}
.gallery dl:last-child:not(:first-child) {
  float: right; 
 }

// Gallery caption styles
.gallery-caption {}
.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}

/*********************
PAGE NAVI STYLES
*********************/
.page-navigation {
	margin-top: 1rem;
}

/*********************
COMMENT STYLES
*********************/
#comments {
	.commentlist {
		margin-left: 0px;
	}
}

#respond {
	ul {
		margin-left: 0px;
	}
}

.commentlist {
	li {
		position: relative;
		clear: both;
		overflow: hidden;
		list-style-type: none;
		margin-bottom: 1.5em;
		padding: 0.7335em 10px;

		&:last-child {
			margin-bottom: 0;
		}

		ul.children {
			margin: 0;

			li {}

			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           // Change number for different depth  
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

		}
	}

	li[class*=depth-] {
		margin-top: 1.1em;
	}

	li.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	li:not(.depth-1) {
		margin-left: 10px;
		margin-top: 0;
		padding-bottom: 0;
	}

	li.depth-2 {}
	li.depth-3 {
	}
	li.depth-4 {}
	li.depth-5 {}

	// General comment classes  
	.alt {}
	.odd {
	}
	.even {
	}
	.parent {}
	.comment {}
	.children {}
	.pingback {}
	.bypostauthor {}
	.comment-author {}
	.comment-author-admin {}
	.thread-alt {}
	.thread-odd {}
	.thread-even {}

	// vcard  
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			float: right;

			a {
				color: #999;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		img.photo {}

		img.avatar {
			position: absolute;
			left: 10px;
			padding: 2px;
			border: 1px solid #cecece;
			background: #fff;
		}

	} // end .commentlist .vcard  


	// comment meta  
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	// comment content  
	.comment_content {

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.6em;
		}

	} // end .commentlist .comment_content  

	// comment reply link  
	.comment-reply-link {
		float: right;

		&:hover,
		&:focus {
		
		}

	} // end .commentlist .comment-reply-link  

} // end .commentlist  

/*********************
COMMENT FORM STYLES
*********************/
.respond-form {
	margin: 1.5em 10px;
	padding-bottom: 2.2em;

	form {
		margin: 0.75em 0;

		li {
			list-style-type: none;
			clear: both;
			margin-bottom: 0.7335em;

			label,
			small {
				display: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url],
		textarea {
			padding: 3px 6px;
			background: #efefef;
			border: 2px solid #cecece;
			line-height: 1.5em;

			&:focus {
				background: #fff;
			}

			// form validation  
			&:invalid {
				outline: none;
				border-color: #fbc2c4;
				background-color: #f6e7eb;
				-webkit-box-shadow: none;
				   -moz-box-shadow: none;
				    -ms-box-shadow: none;
						box-shadow: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url] {
			max-width: 400px;
			min-width: 250px;
		}

		textarea {
			resize: none;
			width: 97.3%;
			height: 150px;
		}

	}
}

// comment form title  
#comment-form-title {
	margin: 0 0 1.1em;
}

// cancel comment reply link  
#cancel-comment-reply {
	a {}
}

// logged in comments  
.comments-logged-in-as {}

// allowed tags  
#allowed_tags {
	margin: 1.5em 10px 0.7335em 0;
}

// No comments  
.nocomments {
	margin: 0 20px 1.1em;
}
	
/*********************
VISUAL EDITOR STYLES
*********************/
// Makes content look better in visual editor
body#tinymce {
   	margin: 20px;
}

/*********************
PLUGIN STYLES
*********************/
// Makes Gravity Forms play nice with Foundation Form styles
.gform_body ul {
    list-style: none outside none;
    margin: 0;
}

// Style guide 

#flickityTest {
	margin-bottom: 2.4rem;
	.carousel {
	  background: #EEE;
	}
	
	.carousel-cell {
	  width: 66%;
	  height: 200px;
	  margin-right: 10px;
	  background: #8C8;
	  border-radius: 5px;
	  counter-increment: gallery-cell;
	}
	
	/* cell number */
	.carousel-cell:before {
	  display: block;
	  text-align: center;
	  content: counter(gallery-cell);
	  line-height: 200px;
	  font-size: 80px;
	  color: white;
	}	
}


/*********************
LOADER STYLES
*********************/

#loader-wrapper {
	position: fixed;
	z-index: 9999;
	top:0;
	left:0;
	bottom:0;
	margin:auto auto;
	width: 100%;
	height:100%;
	background-color: black;
	display: block;
	.loader-container {
		position: relative;
		width:100%;
		height:100%;
		#loader { 
			z-index: 99999;
			display: block;
			position:absolute;
			top:40%;
			left:0;
			right:0;		
			margin:0 auto;
			padding:0 20px;			
		 }
	}
}

// blog archive styles
body.blog {
	header.post-title {
		padding-left: $global-padding;
		padding-right: $global-padding;
	}
}

/*********************
Mobile Expand Function
*********************/
.mobileExpand {
	.expandrContent {
		max-height: 80px;
		overflow: hidden;
		transition: .55s;
		position: relative;
		@include breakpoint(smedium down){ &:before {
			opacity: 1;
			display: block;
			content: "";
			width: 100%;
			height: 5rem;
			@include linear-gradient(to top, rgba($white, 1) 0%, rgba($white,0) 100%);
			position: absolute;
			bottom: 0;
			transition: .33s ease-in-out;
		} }
		&.expanded {
			transition: all .55s ease-in-out;
			max-height: 10000px !important;
			overflow: auto;
			&:before{
				opacity: 0;
				display: none;
			}
		}
	}
	@include breakpoint(medium){
		.expandrContent {
			max-height: 10000px !important;
		}
	}
	.expandBtn {
		position: relative;
		margin-top: 1.3rem;
		margin-bottom: 1.3rem;
		@include breakpoint(medium){
			display: none;
		}

		display: block;
		width: 100%; 
		text-align: center;
	
		span {
			text-transform: uppercase;
			color: $primary-color;
			font-weight: 700;
			transition: .3s ease-in-out;
			width: auto;
			&.showMe {
				display: inline-block;
				visibility: visible;
				opacity: 1; 
			}
			&.hideMe {
				display: none;
				visibility: hidden;
				opacity: 0; 
			}
		}
		i.fa {
			displaY: inline-block;
			transition: transform .33s ease-in-out;
			&.rotateMe.none {
			  -webkit-transform: rotate(0deg);
			  -moz-transform: rotate(0deg);
			  -ms-transform: rotate(0deg);
			  -o-transform: rotate(0deg);
			  transform: rotate(0deg);							
			}
			&.rotateMe.down {
			  -webkit-transform: rotate(90deg);
			  -moz-transform: rotate(90deg);
			  -ms-transform: rotate(90deg);
			  -o-transform: rotate(90deg);
			  transform: rotate(90deg);						
			}			
		}			
	}
	a.expandBtn {
		&:hover {
			i.fa {
				color: $primary-color;
			}
		}
	}
}


.endless-scroll {
	.load-more, .no-more {
		@include transition(opacity .40s ease-out);
		opacity:0;
		visibility: hidden;
		max-height: 0;
		&.active {
			@include transition(opacity .40s ease-out);
			opacity: 1;
			visibility: visible;
			max-height: 1000px;
		}
	}
	
}

