/*********************
FOOTER STYLES
*********************/
.footer {
	background-color: $black;
	color: $white;
	clear: both;
	padding-top: 3rem;
	.additional-footer {
		margin-bottom: 3rem;
		h2, h3, h4 { color: $white;}
	}
	hr {
		margin: 0 0 1rem;
		border-bottom-color: $white;
	}
}