/*********************
BREAKPOINT GUIDE
*********************/
// @include breakpoint(small) { } // 0px - 419px	
// @include breakpoint(smedium) { } //	420px - 639px 
// @include breakpoint(medium) { } // 640px - 768px	
// @include breakpoint(xmedium) { } // 769px - 1024px	
// @include breakpoint(large) { }	// 1025px - 1199px
// @include breakpoint(xlarge) { }	// 1200px - 1439px
// @include breakpoint(xxlarge) { } // 1440px - beyond	

.no-touch #fp-content .para-fixed {
		background-attachment:fixed;
	}
.fp-carousel-row-inner {
	margin-bottom:50px;
	.carousel-cell {
		width:100%;
		.alignnone {
			width:100%;
		}
	}
}

#fp-content {	
	// PRESET VALUES	
	.grid-x { z-index: 10; position: relative; }
	.fp-sections {
		padding:50px 0;
	}
	
	 .fp-sections.parallax {
		 background-repeat: no-repeat;
	 }
	
	.fp-parallax {
		h1,h2,h3,h4 { color:white; }
		color:white;
	}
	.para-fixed {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center top;
	}

	.box-shadow {
		@include box-shadow(0, 0, 8px, 0, rgba(0,0,0,0.4));
	}

	.whiteBox {
		background-color: $white;	
	}
	
}