body{
	&.single-galleries, &.single-internal_galleries  {
		.listView {
			float:right;
			list-style: none;
			a {
				height: 24px;
				display: block;
			}
			li {
				display: inline-block;
				padding-right:5px;
				padding-bottom: 0;
			}
		}
		.mobilelistView {		
			@media (max-width: 768px) {
				position: fixed;
				z-index: 999;
				top: 65px;		
				right:10px;
				font-size:20px;
				color: map-get($foundation-palette, primary);
				background: rgba(255,255,255,.45);
				padding:10px 10px 5px;
				border-radius: 4px;
				border:1px solid $dark-gray;
			}
		}
		.galleryBox {
				.the-text {
					p { margin-bottom:0 !important; }
				}
			.toggleAll {
				width: 100%;
				display: inline-block;
				padding-top: 0.6rem;
		    	padding-bottom: 0.2rem;
				&:after{
					content: "\f107";
					font-family: FontAwesome;
					margin-top: 5px;
					position: relative;
					right: 0;
				    line-height: 29px;
					margin-top: auto;
					display: inline-block;
					margin-left: 0;
					height: auto;
					width: auto;
					-webkit-transform-origin: 50% 50%;
					transform-origin: 50% 50%;
					transition: transform .44s;
					transition-timing: ease-in-out;
					-webkit-transform: rotate(-90deg);
					transform: rotate(-90deg);						
				}
			
				&.active {
					&:after{
						-webkit-transform: rotate(0);
						transform: rotate(0);						
					}
				}				
			}
			.startSmallImgs {
				float: left;
				margin-top: 0;
				height: auto;
				overflow: hidden;
			    -moz-transition-duration: 0.44s;
			    -webkit-transition-duration: 0.44s;
			    -o-transition-duration: 0.44s;
			    transition-duration: 0.44s;
			    -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
			    -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
			    -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
			    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);	
				&.active {
					-moz-transition-duration: 0.44s;
					-webkit-transition-duration: 0.44s;
					-o-transition-duration: 0.44s;
					transition-duration: 0.44s;
					-moz-transition-timing-function: ease-in;
					-webkit-transition-timing-function: ease-in;
					-o-transition-timing-function: ease-in;
					transition-timing-function: ease-in;					
					max-height: 10000px;
					
				}
				.imgGalItem {
					position: relative;
					&:before {
						content:"";
						background-color: rgba(255, 255, 255, 0.5);
						position: absolute;
					    width: 100%;
					    height: 100%;
					    left: 0;
					    right: 0;
					    top: 0;
					    bottom: 0;
					    margin: 0 auto;
					    opacity: 1;
					    visibility: visible;
					    @include transition(opacity .45s ease-in);
					}
					&:hover, &:active , &.is-active {
						&:before {
							@include transition(opacity .45s ease-out);
							opacity: 0;
							visibility: hidden;
						}
					}
					
				}
				.imgWrap {
					//margin-bottom: 2rem;
					padding:0 2.5px;
				}
				@include breakpoint(xmedium down) { 
					.imgWrap:first-child,
					.imgWrap:nth-child(3),
					.imgWrap:nth-child(5),
					.imgWrap:nth-child(7),
					.imgWrap:nth-child(9),
					.imgWrap:nth-child(11), {
						padding-left:0;
					}
					.imgWrap:nth-child(2),
					.imgWrap:nth-child(4),
					.imgWrap:nth-child(6),
					.imgWrap:nth-child(8),
					.imgWrap:nth-child(10),
					.imgWrap:nth-child(12) {
						padding-right:0;
						clear:right;
					}
				}
				@include breakpoint(medium) {
					.imgWrap:first-child,
					.imgWrap:nth-child(5),
					.imgWrap:nth-child(9) {
						padding-left:0;
					}
					.imgWrap:nth-child(4),
					.imgWrap:nth-child(8),
					.imgWrap:nth-child(12) {
						padding-right:0;
						clear:right;
					}		
				}
			}
			p {
				margin-bottom: 0;
			}
			.imgWrap {
				
				margin-bottom: 10px;
				a {display: block; margin-bottom:0; }
				img {
					width: 100%;
					height: auto;
					margin-bottom: 0;
				}
				.gal-loaders  {
					display: none;
					img {
						width:auto;					
					}
				}
			}
		}
	}
}