/*********************
BREAKPOINT GUIDE
*********************/
// @include breakpoint(small) { } // 0px - 419px	
// @include breakpoint(smedium) { } //	420px - 639px 
// @include breakpoint(medium) { } // 640px - 768px	
// @include breakpoint(xmedium) { } // 769px - 1024px	
// @include breakpoint(large) { }	// 1025px - 1199px
// @include breakpoint(xlarge) { }	// 1200px - 1439px
// @include breakpoint(xxlarge) { } // 1440px - beyond	

.gform_body ul {
    list-style: none outside none;
    margin: 0;
}

main.main {
	.gform_wrapper {
		float: none; 
		clear: both;
		.gform_body {
			width:100%;
			.ginput_container input, 
			option.gf_placeholder, 
			.ginput_container textarea {				
				&::-webkit-input-placeholder { /* Chrome */  color: #8c8c8c;	}
				&:-ms-input-placeholder { /* IE 10+ */  color: #8c8c8c; 	}
				&::-moz-placeholder { /* Firefox 19+ */  color: #8c8c8c; opacity: 1; }
				&:-moz-placeholder { /* Firefox 4 - 18 */  color: #8c8c8c;  opacity: 1;}
			}
			.ginput_container select {
				color: #8c8c8c; 
			}
			.gfield_terms .gfield_description { color:white; a {  color:white; font-weight: 800; } }
			.gfield.hidden_label label { display: none; }
			.gfield.gform_validation_container { opacity:0; visibility: hidden; max-height: 0;  }
		}
		.gform_footer { 
			width:100%;
			[type=button], [type=submit] {
				width: 100%;
			}
		}	

		.gform_fields.grid-x.grid-padding-x {
			margin-left: -$global-padding/2;
			margin-right: -$global-padding/2;
		}
		.gfield.cell {
			padding-left: $global-padding/2;
			padding-right: $global-padding/2;
		}
		.gfield_checkbox {
			label {
				color: $white;
			}
		}
		.ginput_container_checkbox,
		.gfield_description {
			width: auto;
			display: inline-block;
			margin-right: 8px;
		}
		.hidden_label {
			.ginput_container {
				.gfield_checkbox {
					display: inline-block;
					width: auto;
					label {
						display: none !important;
					}
					li {
						display: inline-block;
						width: auto;				
					}
				}
			}
		}
	}
}

.widget-contact-form { 
	@include breakpoint (small) { padding:30px 40px; }
	@include breakpoint (medium) { padding:40px 60px; }
	text-align:center;
	h1, h2, h3 ,h4 { 
		margin-bottom:30px; 
			
	}	
}