/*********************
BREAKPOINT GUIDE
*********************/
// @include breakpoint(small) { } // 0px - 419px	
// @include breakpoint(smedium) { } //	420px - 639px 
// @include breakpoint(medium) { } // 640px - 768px	
// @include breakpoint(xmedium) { } // 769px - 1024px	
// @include breakpoint(large) { }	// 1025px - 1199px
// @include breakpoint(xlarge) { }	// 1200px - 1439px
// @include breakpoint(xxlarge) { } // 1440px - beyond	

/*********************
SIDEBARS & ASIDES
*********************/

// Flexible Fields Sub Pages

.twocol-widget {
	.entry-content {
		.widgeter {
			&:first-child { 
				@include breakpoint(medium) { padding-right:10px; } 
			}
			&:last-child { 
				@include breakpoint(medium) { padding-left:10px; } 
			}
			margin-bottom:2em;
			.widgetBoxWrap {
				min-height: 100% !important;
				margin-bottom: 0 !important;
			}
		}
	}
}

.sidebar {
	li{
		list-style: none;
	}
	p.spacerP {
		line-height: 1rem;
	}
}

.widget {
	margin-bottom: 2rem;
	.widgettitle {
		margin-bottom: 1.5rem;
	}
	ul {
		margin: 0;
	}
}

// Custom Widget Styles
.widgetBoxWrap {
	margin-bottom: 2rem;
	background-color:#eee;
	@include box-shadow();
	p,
	a.button {
		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

.widgetBox {
	.widgettitle {
		margin-bottom: .5rem;
	}
	.widget {
		margin-bottom: 0;
	}
}
 
 .widget-reviews, 
 .widget-before-and-after, 
 .widget-request-consultation,
 .widget-meet-the-doctor {
	 @include breakpoint(small) { padding:30px }
	 @include breakpoint(medium) { padding:30px 10px; }
	 @include breakpoint(xmedium) { padding:30px; }
}

.widget-contact-form {
	color:white;
	h2 , h3 , h4 {
		color:white;
	}
}
.call-to-action-widget {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	box-shadow: 
    	inset 0px 11px 30px -10px rgba(0,0,0,0.2),
        inset 0px -11px 30px -10px rgba(0,0,0,0.2); 
}

#widget-reviews {
	.widget-reviews {
		min-height:390px;
		@include breakpoint(smedium) { min-height:510px; }
		@include breakpoint(medium) { min-height:337px; }
		@include breakpoint(xmedium) { min-height:470px; }
		@include breakpoint(large) { min-height:555px; }		
	}
	p { color:white; margin-bottom:0; }
	.quotes {
		img {
			width:40px; margin-bottom:15px;
			@include breakpoint(smedium) { width:50px; margin-bottom:20px; }
			@include breakpoint(medium) { width:40px; margin-bottom:20px; }
			@include breakpoint(xmedium) { width:55px; margin-bottom:30px; }
			@include breakpoint(large) { width:60px; margin-bottom:15px; }	
		}		
	}
	p.w-review { 
		font-style: italic;
		margin-bottom:12px;
		@include breakpoint(smedium) { margin-bottom:20px; }
		@include breakpoint(medium) { margin-bottom:20px; }
		@include breakpoint(xmedium) { margin-bottom:25px; }
		@include breakpoint(large) { margin-bottom:15px; }
	}
	p.w-reviewer {
		text-transform: uppercase;
		letter-spacing: 1.2px;
		margin-bottom:20px;
		@include breakpoint(smedium) { margin-bottom:30px; }
		@include breakpoint(medium) { margin-bottom:20px; }
		@include breakpoint(xmedium) { margin-bottom:30px; }
		@include breakpoint(large) { margin-bottom:20px; letter-spacing: 2px; }
	}
}

#widget-gallery {
	.widget-gallery{
		min-height:282px;
		@include breakpoint(smedium) { min-height:372px; }
		@include breakpoint(medium) { min-height:340px; }
		@include breakpoint(xmedium) { min-height:455px; }
		@include breakpoint(large) { min-height:555px; }		
	}
	.w-heading {
		text-transform: capitalize;
		font-size:27.5px; margin-bottom:10px;
		line-height: 1.4;
		@include breakpoint(smedium) { font-size:36.9px; margin-bottom:15px;  }
		@include breakpoint(medium) { font-size:27.5px; margin-bottom:10px; line-height: 1.8; }
		@include breakpoint(xmedium) { font-size:36.66px; margin-bottom:15px;  }
		@include breakpoint(large) { font-size:44px; margin-bottom:15px; }
	}
}